<div class="container-fluid">
  <app-menu></app-menu>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card">
          <div class="card-body">
      <h4 style="color: #001b85">Consultation employee</h4>
      <hr>

      <div class="card-body">
        <div class="centrage">
          <img class="rounded-circle z-depth-2" alt="100x100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkRZow5anceAgh6-wEY9u21H8EUm-EP26LjQ&usqp=CAU"
          data-holder-rendered="true"></div><br><br>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                    placeholder="Matricule"
                    [value]="perso11.mat_pers"
                    style="font-size: 12px;"
                  />
                </div>

                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                  [value]="perso11.nom_pers"
                    placeholder="Nom"
                    style="font-size: 12px;"
                  />
                </div>
                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                    [value]="perso11.pren_pers"
                    placeholder="Prénom"
                    style="font-size: 12px;"
                  />
                </div>
                <div class="col-sm-3">
                  <select
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                    placeholder="Etat paie"
                    style="font-size: 12px;"
                  >
                    <option>{{perso11.lib_etat_act}}</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
        <hr />

        <div class="form-check form-check-inline">
          <input  [(ngModel)]="x"class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">Information personnelles</label>
        </div>
        <div class="form-check form-check-inline">
          <input  [(ngModel)]="x" class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">Information professionnelles</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="x" class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="3" >
          <label class="form-check-label" for="inlineRadio3">Information sociales</label>
        </div>


        <div *ngIf="x == '1'">
          <ul class="nav nav-tabs">
            <li [ngClass]="{ active: tab == 1 }" (click)="tab = 1">
              <a class="nav-link"
              ><button id="ref" class="btn btn-sm">
                Identité
              </button></a
            >
            </li>
            <li [ngClass]="{ active: tab == 2 }" (click)="tab = 2">
              <a  class="nav-link"><button id="ref" class="btn btn-sm">
                Adresse&Contact
              </button></a
            >
            </li>
            <li [ngClass]="{ active: tab == 3 }" (click)="tab = 3">
              <a  class="nav-link"><button id="ref" class="btn btn-sm">
Niveau d'instruction              </button></a
            >
            </li>
          </ul>
          <br />
          <div>
            <div [ngSwitch]="tab">
              <div *ngSwitchCase="1">
                <div class="card">
                  <div class="card-body">
                    <div class="form-group row">
                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Nom 2éme langue</label
                        >
                        <div class="col-sm-3">
                          <input
                          [value]="perso11.nom_pers_a"
                            type="text"
                            class="form-control"
                            placeholder="Nom 2éme langue"
                            style="font-size: 12px;"
                          />
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Prénom 2éme langue</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            [value]="perso11.pren_pers_a"
                            id="inputPassword3"
                            placeholder="Prénom 2éme langue"
                            style="font-size: 12px;"
                          />
                        </div>
                      </div>
                      <br /><br />

                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Presum Nais</label
                        >
                        <div  *ngIf="perso11.presum_nais=='O'" class="col-sm-3">
                          <input
                          value="Oui"
                            type="text"
                            class="form-control"
                            placeholder="Presum Nais"
                            style="font-size: 12px;"
                          >
                        </div>
                        <div  *ngIf="perso11.presum_nais=='N'" class="col-sm-3">
                          <input
                          value="Non"
                            type="text"
                            class="form-control"
                            placeholder="Presum Nais"
                            style="font-size: 12px;"
                          >
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Service militaire</label
                        >
                        <div class="col-sm-3">
                          <input
                          [value]="perso11.lib_serv"
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Service militaire"
                            style="font-size: 12px;"
                          />
                        </div>
                      </div>
                      <br /><br />

                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Date naissance</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            [value]="perso11.dat_nais"
                            class="form-control"
                            placeholder="nom 2éme langue"
                            style="font-size: 12px;"
                          />
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Lieu naissance</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            [value]="perso11.lieu_nais"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Lieu naissance"
                            style="font-size: 12px;"
                          />
                        </div>
                      </div>
                      <br /><br />
                      <div  class="form-group row">
                        <label
                        
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Sexe</label
                        >
                        <div *ngIf="perso11.sexe=='M'" class="col-sm-3">
                          <input
                          type="text"
                          value="Masculin"
                            class="form-control"
                            placeholder="Sexe"
                            style="font-size: 12px;"
                          >
                        </div>
                        <div *ngIf="perso11.sexe=='F'" class="col-sm-3">
                          <input
                          type="text"
                          value="Feminin"
                            class="form-control"
                            placeholder="Sexe"
                            style="font-size: 12px;"
                          >
                        </div>
                        
                         

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Nationalité</label
                        >
                        <div class="col-sm-3">
                          <input 
                          [value]="perso11.lib_gouv"
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Nationalité"
                            style="font-size: 12px;"
                          />
                        </div>
                      </div>
                      <br /><br />
                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Type d'identité</label
                        >
                        <div class="col-sm-3">
                          <select
                            class="form-control"
                            placeholder="Type d'identité"
                            style="font-size: 12px;"
                          ></select>
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >N identité</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            [value]="perso11.cin"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="N identité"
                            style="font-size: 12px;"
                          />
                        </div>
                      </div>
                      <br /><br />
                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Date d'identité</label
                        >
                        <div class="col-sm-3">
                          <input
                          [value]="perso11.dat_cin"
                            type="text"
                            class="form-control"
                            placeholder="Nom 2éme langue"
                            style="font-size: 12px;"
                          />
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Lieu émission identité</label
                        >
                        <div class="col-sm-3">
                          <input
                          [value]="perso11.lie_emi_cin"
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Lieu émission identité"
                            style="font-size: 12px;"
                          />
                        </div>
                      </div>
                      <br /><br />

                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Sit.familiale</label
                        >
                        <div *ngIf="perso11.cod_sit=='M'" class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Sit.familiale"
                            style="font-size: 12px;"
                            value="Marié"
                          >
                        </div>
                        <div *ngIf="perso11.cod_sit=='C'" class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Sit.familiale"
                            style="font-size: 12px;"
                            value="Celebataire"
                          >
                        </div>
                        <div *ngIf="perso11.cod_sit=='D'" class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Sit.familiale"
                            style="font-size: 12px;"
                            value="Divorcé"
                          >
                        </div>
                        <div *ngIf="perso11.cod_sit=='V'" class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Sit.familiale"
                            style="font-size: 12px;"
                            value="Veuf"
                          >
                        </div>
                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Groupe sanguin</label
                        >
                        <div class="col-sm-3">
                          <input
                          [value]="perso11.grp_sang"
                            class="form-control"
                            id="sanguin"
                            type="text"
                            placeholder="Prenom 2éme langue"
                            style="font-size: 12px;"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngSwitchCase="2">
                <ul class="nav nav-tabs">
                  <li [ngClass]="{active: tab2==1}" (click)="tab2=1"><a   class="nav-link" ><button id="ref2" class="btn-btn sm">Adresse actuel </button> </a></li>
                  <li [ngClass]="{active: tab2==2}" (click)="tab2=2"><a  class="nav-link" ><button id="ref2" class="btn-btn sm">Contact</button></a></li>
                  <li [ngClass]="{active: tab2==3}" (click)="tab2=3"><a  class="nav-link"><button id="ref2" class="btn-btn sm">Adresse non Courantes</button></a></li>
                </ul>
                <div [ngSwitch]="tab2">
                  <div *ngSwitchCase="1"><div class="card">
                    <div class="card-body">
                      <form>
                        <table>
                            <tr><td>Rue</td>
                                 <td *ngFor="let item of adrpersbycodeandmat">
                                     <input value={{item.rue}} class="form-control" type="text" name="val000"/>
                                 </td>
                                 <td ></td>
                                 <td>

                                 </td><td>Rue 2éme langue</td>
                                 <td *ngFor="let item of adrpersbycodeandmat" >
                                     <input value={{item.rue_a}} class="form-control" type="text" name="val000"/>
                                 </td>
                                </tr>
                                <tr><td>Gouvernorat</td>
                                  <td>
                                      <input [value]="perso11.cod_gouv" class="form-control" type="text" name="val000"/>
                                  </td>
                                  <td >  <input [value]="perso11.lib_gouv" class="form-control" type="text" name="val000"/> </td>
                                  <td>

                                  </td><td></td>
                                  <td>

                                  </td>
                                 </tr>  <tr><td>Poste</td>
                                  <td>
                                      <input [value]="perso11.cod_affect"  class="form-control" type="text" name="val000"/>
                                  </td>
                                  <td >  <input [value]="perso11.lib_affect"class="form-control" type="text" name="val000"/> </td>
                                  <td>

                                  </td><td></td><td> <div class="form-check form-check-inline">
                                    <input  class="form-check-input" type="checkbox" name="inlineRadioOptions22" id="inlineRadio22"  checked>
                                    <label class="form-check-label" for="inlineRadio1">Adresse Actuel</label>
                                  </div></td>
                                  <td>

                                  </td>
                                 </tr>
                        </table>
                    </form>
                        </div></div></div>

                  <div *ngSwitchCase="2">
                    <div class="card">
                      <div class="card-body"> <form>
                    <table>
                        <tr><td>Telephone</td>
                             <td *ngFor="let item of adrpersbycodeandmat">
                                 <input value={{item.tel_pers}}  class="form-control" type="text" name="val000"/>
                             </td>
                             <td ></td>
                             <td></td>
                             <td>Fax</td>
                             <td *ngFor="let item of adrpersbycodeandmat">
                                 <input value={{item.fax_pers}}   class="form-control" type="text" name="val000"/>
                             </td>

                            </tr>  <tr><td>Gsm</td>
                              <td *ngFor="let item of adrpersbycodeandmat">
                                  <input  value={{item.tel_pers}} class="form-control" type="text" name="val000"/>
                              </td>
                              <td ></td>
                              <td></td>
                              <td >Adresse Electronique</td>
                              <td *ngFor="let item of adrpersbycodeandmat" >
                                  <input value={{item.adr_electronique}}  class="form-control" type="text" name="val000"/>
                              </td>

                             </tr></table></form></div></div></div>
                  <div *ngSwitchCase="3"><app-gridadressenoncourant></app-gridadressenoncourant></div>
                </div>

               <!--  <div class="card">
                  <div class="card-body">
                    <div class="form-group row">
                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Nom 2éme langue</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="password"
                            class="form-control"
                            placeholder="nom 2éme langue"
                          />
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >prenom 2éme langue</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="prenom 2éme langue"
                          />
                        </div>
                      </div>
                      <br /><br />

                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Presum Nais</label
                        >
                        <div class="col-sm-3">
                          <select
                            type="password"
                            class="form-control"
                            placeholder="Presum Nais"
                          ></select>
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Service militaire</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Service militaire"
                          />
                        </div>
                      </div>
                      <br /><br />

                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Date naissance</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="date"
                            class="form-control"
                            placeholder="nom 2éme langue"
                          />
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Lieu naissance</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Lieu naissance"
                          />
                        </div>
                      </div>
                      <br /><br />
                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Sexe</label
                        >
                        <div class="col-sm-3">
                          <select
                            class="form-control"
                            placeholder="sexe"
                          ></select>
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Nationalité</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Nationalité"
                          />
                        </div>
                      </div>
                      <br /><br />
                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Type d'identité</label
                        >
                        <div class="col-sm-3">
                          <select
                            class="form-control"
                            placeholder="Type d'identité"
                          ></select>
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >N identité</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="N identité"
                          />
                        </div>
                      </div>
                      <br /><br />
                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Date d'identité</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="date"
                            class="form-control"
                            placeholder="nom 2éme langue"
                          />
                        </div>

                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Lieu émission identité</label
                        >
                        <div class="col-sm-3">
                          <input
                            type="text"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Lieu émission identité"
                          />
                        </div>
                      </div>
                      <br /><br />

                      <div class="form-group row">
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Sit.familiale</label
                        >
                        <div class="col-sm-3">
                          <select
                            type="password"
                            class="form-control"
                            id="inputPassword3"
                            placeholder="Sit.familiale"
                          ></select>
                        </div>
                        &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <label
                          for="inputPassword3"
                          class="col-sm-2 col-form-label"
                          >Groupe sanguin</label
                        >
                        <div class="col-sm-3">
                          <select
                            class="form-control"
                            id="inputPassword3"
                            placeholder="prenom 2éme langue"
                          ></select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div *ngSwitchCase="3">
                <app-gridetablissement></app-gridetablissement>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="x == '2'">
          <ul class="nav nav-tabs">
            <li [ngClass]="{ active: tab == 1 }" (click)="tab = 1">
              <a class="nav-link"><button id="ref" class="btn-btn sm" >  Information Generale</button></a>
            </li>
            <li [ngClass]="{ active: tab == 2 }" (click)="tab = 2">
              <a class="nav-link"> <button id="ref" class="btn-btn sm" > Pointage</button></a>
            </li>
            <li [ngClass]="{ active: tab == 3 }" (click)="tab = 3">
              <a class="nav-link"><button id="ref" class="btn-btn sm" > Mode de payement</button></a>
            </li>
            <li [ngClass]="{ active: tab == 4 }" (click)="tab = 4">
              <a class="nav-link"><button id="ref" class="btn-btn sm" > Variable d'octroi dindemnité</button></a>
            </li>
            <li [ngClass]="{ active: tab == 5 }" (click)="tab = 5">
              <a class="nav-link"><button id="ref" class="btn-btn sm" > Experiences professionnel</button></a>
            </li>
            <li [ngClass]="{ active: tab == 6 }" (click)="tab = 6">
              <a class="nav-link"><button id="ref" class="btn-btn sm" > Indemnité</button></a>
            </li>
          </ul>
          <div [ngSwitch]="tab">
            <br />
            <div *ngSwitchCase="1">
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Date d'embauche</label
                >
                <div class="col-sm-3">
                  <input
                  [value]="perso11.dat_emb"
                    type="text"
                    class="form-control"
                    placeholder="Nom 2éme langue"
                    style="font-size: 12px;"
                  />
                </div>

                &nbsp; &nbsp;
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Date d'entrée adminisration</label
                >
                <div class="col-sm-3">
                  <input
                  [value]="perso11.dat_ent"
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                    placeholder="Lieu naissance"
                    style="font-size: 12px;"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Date Titularisation</label
                >
                <div class="col-sm-3">
                  <input
                  [value]="perso11.dat_tit"
                    type="text"
                    class="form-control"
                    placeholder="Date Titularisation"
                    style="font-size: 12px;"
                  />
                </div>

                &nbsp; &nbsp;
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Contrat Fidelité</label
                >
                <div *ngFor="let item of perso11.rens_pers" class="col-sm-3">
                  <input
                  value={{item.contrat_fidelite}}
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                    placeholder="Lieu naissance"
                    style="font-size: 12px;"
                  >
                
                </div>
              </div>
              <div  class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Date Fin Fidelité</label
                >
                <div   *ngFor="let item of perso11.rens_pers" class="col-sm-3">
                  <input
                  value={{item.dt_fin_fidelite}}
                    type="text"
                    class="form-control"
                    placeholder="Date Titularisation"
                    style="font-size: 12px;"
                  />
                </div>
              </div>
            </div>
            <div *ngSwitchCase="2">

              <!-- <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Regime travail</label
                >
                <div class="col-sm-3">
                  <select
                    type="date"
                    class="form-control"
                    placeholder="Date Titularisation"
                  ></select>
                </div>

                <div class="col-sm-1" >
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder=""
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Debut cycle</label
                >
                <div class="col-sm-3">
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Date Titularisation"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Code Regime</label
                >
                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Date Titularisation"
                  />
                </div>
                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                    placeholder=""
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >Regime conge</label
                >
                <div class="col-sm-3">
                  <select
                    type="date"
                    class="form-control"
                    placeholder="Date Titularisation"
                  ></select>
                </div>

                <div class="col-sm-3">
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword3"
                    placeholder=""
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label"
                  >signature</label
                >
                <div class="col-sm-3">
                  <select
                    type="text"
                    class="form-control"
                    placeholder="Date Titularisation"
                  ></select>
                </div>

              </div> -->
              <form>
                <table>
                    <tr><td>regime travail</td>
                         <td  *ngFor="let item of perso11.rens_pers" >
                             <input value={{item.regime_trav}}  class="form-control" type="text" name="val000"/>
                         </td>
                         <td ></td>
                         <td>

                         </td><td>Pelérinage</td>
                         <td *ngFor="let item of perso11.rens_pers"  >
                          <input *ngIf="item.code_pelerinage=='N' " value="Non"  class="form-control" type="text" name="val000"/>
                          <input *ngIf="item.code_pelerinage=='O' " value="Oui"  class="form-control" type="text" name="val000"/>
                         </td>
                        </tr>
                        <tr><td>Debut Cycle</td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input value={{item.deb_cycle}} class="form-control" type="text" name="val000"/>
                          </td>
                          <td ></td>
                          <td>

                          </td><td>Fin Cycle</td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input value={{item.fin_cycle}}  class="form-control" type="text" name="val000"/>
                          </td>
                         </tr>  <tr><td >Code Regime</td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input  value={{item.cod_reg}} class="form-control" type="text" name="val000"/>
                          </td>
                          <td ></td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input value={{item.lib_regime}} class="form-control" type="text" name="val000"/>
                          </td><td>regime heure</td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input  value={{item.regime_heur}} class="form-control" type="text" name="val000"/>
                          </td>
                         </tr>  <tr><td>Regime Congé</td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input  value={{item.reg_cng}} class="form-control" type="text" name="val000"/>
                          </td>
                          <td ></td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input  value={{item.lib_regimecng}}  class="form-control"  type="text" name="val000"/>
                          </td><td>Pointe</td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input *ngIf="item.pointe=='O'" value="Oui"   class="form-control" type="text" name="val000"/>
                              <input *ngIf="item.pointe=='N'" value="Non"   class="form-control" type="text" name="val000"/>
                              <input *ngIf="item.pointe==null" value=""   class="form-control" type="text" name="val000"/>


                          </td>
                         </tr>  <tr><td>Signature</td>
                          <td *ngFor="let item of perso11.rens_pers">
                              <input *ngIf="item.signature=='O'" value="OUI"  class="form-control" type="text" name="val000"/>
                              <input *ngIf="item.signature=='N'" value="Non"  class="form-control" type="text" name="val000"/>
                              <input *ngIf="item.signature==null" value=""  class="form-control" type="text" name="val000"/>


                          </td>
                          <td ></td>
                          <td>

                          </td><td></td>
                          <td>

                          </td>
                         </tr>
                </table>
            </form>
            </div>
            <div *ngSwitchCase="3">   <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Bullettin</th>
                  <th scope="col">Libelle</th>
                  <th scope="col">Mode de payement</th>
                  <th scope="col">Date</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of perso11.mode_payement">
                  <td>{{item.cod_typ_bul}} </td>
                  <td >{{item.lib_bul}}</td>
                  <td *ngIf="item.cod_pay=='V'">Virement</td>
                  <td *ngIf="item.cod_pay=='E'">Especes</td>
                  <td *ngIf="item.cod_pay=='C'">Cheque</td>

                  <td>{{item.date_modp}}</td>
                  

                </tr>
                
              </tbody>
            </table><br>
           

           <app-comptepers></app-comptepers></div>
            <div *ngSwitchCase="4"> <form>
              <table>
                <tr><td>Droit Lait</td>
                  <td *ngFor="let item of rens">
                      <input value={{item.droit_lait}}  class="form-control" type="text" name="val000"/>
                  </td>
                  
                  <td ></td>
                  <td *ngFor="let item of rens">
                      <input value={{item.lib_lait}}   class="form-control" type="text" name="val000"/>
                  </td><td >Logement</td> <td  *ngFor="let item of rens">
                    <input  value={{item.pers_clog}} class="form-control" type="text" name="val000"/>
                </td>
                  <td *ngFor="let item of rens">
                      <input  value={{item.lib_clog}} class="form-control" type="text" name="val000"/>
                  </td>
                 </tr>  <tr>
                  <tr><td >Chaufage</td>
                    <td *ngFor="let item of rens">
                        <input value={{item.code_cchauf}}  class="form-control" type="text" name="val000"/>
                    </td>
                    <td ></td>
                    <td  *ngFor="let item of rens">
                        <input  value={{item.lib_CCHAUF}}  class="form-control" type="text" name="val000"/>
                    </td><td>Eau</td>
                    <td *ngFor="let item of rens">
                        <input value={{item.pers_ceau}}  class="form-control" type="text" name="val000"/>
                    </td> <td *ngFor="let item of rens">
                      <input  value={{item.lib_eau}} class="form-control" type="text" name="val000"/>
                  </td>
                   </tr>  <tr>  <tr><td>Service DoMESTIQUE</td>
                    <td *ngFor="let item of rens">
                        <input value={{item.ind_domest}}  class="form-control" type="text" name="val000"/>
                    </td>
                    <td ></td>
                    <td *ngFor="let item of rens">
                        <input  value={{item.lib_dom}} class="form-control" type="text" name="val000"/>
                    </td><td>Electricité</td> <td *ngFor="let item of rens">
                      <input value={{item.pers_celec}}   class="form-control" type="text" name="val000"/>
                  </td>
                    <td *ngFor="let item of rens">
                        <input  value={{item.pers_celec}} class="form-control" type="text" name="val000"/>
                    </td>
                   </tr>  <tr>  <tr><td>Résidence</td>
                    <td *ngFor="let item of rens">
                        <input  value={{item.code_residence}} class="form-control" type="text" name="val000"/>
                    </td>
                    <td ></td>
                    <td *ngFor="let item of rens">
                        <input  value={{item.lib_residence}}  class="form-control" type="text" name="val000"/>
                    </td><td>Voiture</td> <td *ngFor="let item of rens">
                      <input value={{item.pers_cvoit}}  class="form-control" type="text" name="val000"/>
                  </td>
                    <td *ngFor="let item of rens">
                        <input  value={{item.lib_cvoit}}   class="form-control" type="text" name="val000"/>
                    </td>
                   </tr>  <tr>  <tr><td>Baréme de Transport</td>
                    <td *ngFor="let item of rens">
                        <input value={{item.cod_bareme}}  class="form-control" type="text" name="val000"/>
                    </td>
                    <td ></td>
                    <td>
                        <input   class="form-control" type="text" name="val000"/>
                    </td><td>Nb Mois Bonification</td> <td *ngFor="let item of rens">
                      <input  value={{item.iep_mojhd_chehid}} class="form-control" type="text" name="val000"/>
                  </td>
                    <td>
                        <input   class="form-control" type="text" name="val000"/>
                    </td>
                   </tr>   <tr><td>Uniform</td>
                    <td *ngFor="let item of rens">
                        <input value={{item.uniform}}  class="form-control" type="text" name="val000"/>
                    </td>
                    
                    <td ></td>
                    <td *ngFor="let item of rens">
                        <input value={{item.lib_uniform}}   class="form-control" type="text" name="val000"/>
                    </td><td >Fils moujehed/chahid</td> <td  *ngFor="let item of rens">
                      <input  value={{item.pers_clog}} class="form-control" type="text" name="val000"/>
                  </td>
                    <td *ngFor="let item of rens">
                        <input  value={{item.lib_clog}} class="form-control" type="text" name="val000"/>
                    </td>
                   </tr>
              </table>
          </form></div>
            <div *ngSwitchCase="5"><app-expprof></app-expprof></div>
            <div *ngSwitchCase="6"><app-indemnite></app-indemnite></div>
          </div>
        </div>
        <div *ngIf="x == '3'">
          <ul class="nav nav-tabs">
            <li [ngClass]="{ active: tab == 1 }" (click)="tab = 1">
              <a class="nav-link"> <button id="ref" class="btn-btn sm" >Information Generale</button></a>
            </li>
            <li [ngClass]="{ active: tab == 2 }" (click)="tab = 2">
              <a class="nav-link"> <button id="ref" class="btn-btn sm" >Conjoint</button></a>
            </li>
            <li [ngClass]="{ active: tab == 3 }" (click)="tab = 3">
              <a class="nav-link"><button id="ref" class="btn-btn sm" >Enfants</button></a>
            </li>
            <li [ngClass]="{ active: tab == 4 }" (click)="tab = 4">
              <a class="nav-link"><button id="ref" class="btn-btn sm" >Scolarié Enfants</button></a>
            </li>
            <li [ngClass]="{ active: tab == 5 }" (click)="tab = 5">
              <a class="nav-link"> <button id="ref" class="btn-btn sm" >Affilation</button></a>
            </li>

          </ul>
          <div [ngSwitch]="tab">
            <br />
            <div *ngSwitchCase="1">
              <form>
                <table>
                    <tr><td>Sit.Familiale</td>
                         <td *ngIf="perso11.cod_sit=='M'">
                             <input value="Marié"  class="form-control" type="text" name="val000"/>
                         </td> 
                         <td *ngIf="perso11.cod_sit=='C'">
                          <input value="Celebataire"  class="form-control" type="text" name="val000"/>
                      </td> 
                      <td *ngIf="perso11.cod_sit=='D'">
                        <input value="Divorcé"  class="form-control" type="text" name="val000"/>
                    </td> 
                    <td *ngIf="perso11.cod_sit=='V'">
                      <input value="Veuf"  class="form-control" type="text" name="val000"/>
                  </td> 

                         
                         
                         
                         
                         <td>Chef Famille</td> <td *ngIf="perso11.chef_fam=='N'">
                          <input  value="Non"  class="form-control" type="text" name="val000"/>
                      </td><td *ngIf="perso11.chef_fam=='O'">
                        <input  value="Oui"  class="form-control" type="text" name="val000"/>
                    </td> <td>Salaire Unique</td> <td>
                        <input  [value]="perso11.niv_sal" class="form-control" type="text" name="val000"/>
                    </td></tr>
                    <tr><td>Nbr.Enfant</td>
                      <td>
                          <input [value]="perso11.nbre_enf"  class="form-control" type="text" name="val000"/>
                      </td> <td>Enfant Imposable</td> <td>
                       <input  [value]="perso11.charg_enf" class="form-control" type="text" name="val000"/>
                   </td> <td>Enfant Allocataire</td> <td>
                     <input [value]="perso11.charg_all"  class="form-control" type="text" name="val000"/>
                 </td></tr></table></form><hr>
                 <form>
                  <table>
                      <tr><td>Etat Santé</td>
                           <td>
                               <input   class="form-control" type="text" name="val000"/>
                           </td> <td>Degré Handicap</td> <td *ngIf="perso11.typ_handicap=='0'">
                            <input  value='Non Handicapé' class="form-control" type="text" name="val000"/>
                        </td>
                        <td *ngIf="perso11.typ_handicap=='1'">
                          <input  value='Handicap Normal' class="form-control" type="text" name="val000"/>
                      </td>
                      <td *ngIf="perso11.typ_handicap=='2'">
                        <input  value='Handicap Proprietaire' class="form-control" type="text" name="val000"/>
                    </td>
                    <td *ngIf="perso11.typ_handicap=='3'">
                      <input  value='Handicap Accompagné' class="form-control" type="text" name="val000"/>
                  </td><td>Type Handicap</td>
                    
                    
                  <td >
                    <input  [value]="perso11.typ_handicap" class="form-control" type="text" name="val000"/>
                </td></tr>
                      <tr><td>N°Fiche Handicap</td>
                        <td>
                            <input [value]="perso11.num_fich_hand"  class="form-control" type="text" name="val000"/>
                        </td> <td>Date Effet Fiche</td> <td>
                         <input  [value]="perso11.dat_eff_fich_hand" class="form-control" type="text" name="val000"/>
                     </td> <td></td> <td>

                   </td></tr>
                   <tr><td>Taux pp</td>
                    <td>
                        <input   class="form-control" type="text" name="val000"/>
                    </td> <td>Date Fin Fiche</td> <td>
                     <input [value]="perso11.dat_fin_fich_hand"   class="form-control" type="text" name="val000"/>
                 </td> <td></td> <td>

               </td></tr></table></form><hr>
               <form>
                <table>
                  <tr><td>N°Retraite</td>
                    <td>
                        <input   [value]="perso11.num_retr "  form-control type="text" name="val000"/><td></td>
                     <td>N°Accident de travail</td> <td>
                     <input   [value]="perso11.num_acc "   class="form-control" type="text" name="val000"/>
                 </td> <td></td>   <td> </td>
               </tr>
                    <tr><td>Assurance</td>
                      <td>
                          <input [value]="perso11.cod_assur"  class="form-control" type="text" name="val000"/><td><input disabled   class="form-control" type="text" name="val000"/></td>
                       <td>N°Assurance</td> <td>
                       <input [value]="perso11.num_assur"  class="form-control" type="text" name="val000"/>
                   </td> <td>Allocation Familiale</td>    <input *ngIf="perso11.fct_fam=='O'"value="Oui" class="form-control" type="text" name="val000"/>
                   <input *ngIf="perso11.fct_fam=='N'"value="Non" class="form-control" type="text" name="val000"/>
                   <input *ngIf="perso11.fct_fam==null"value="" class="form-control" type="text" name="val000"/>

                   <td>

                 </td></tr></table></form>







            </div><div *ngSwitchCase="2">
            <app-conjoint></app-conjoint>
               
            </div>
            <div *ngSwitchCase="3"><app-gridenfant></app-gridenfant></div><div *ngSwitchCase="4"> <app-scolfam></app-scolfam></div><div *ngSwitchCase="5"> <app-affilpers></app-affilpers></div></div>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
